<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Opret projekt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>
<body>

<main>
    <div>
        <h1>Opret nyt projekt</h1>

        <form th:action="@{/projects/create}" th:object="${projectForm}" method="post">

            <div class="form-group">
                <label for="name">Projekt titel: *</label>
                <input type="text" id="name" th:field="*{title}" required>
            </div>

            <div class="form-group">
                <label for="description">Beskrivelse:</label>
                <textarea id="description" th:field="*{description}" rows="4"></textarea>
            </div>

            <div class="form-group">
                <label for="deadline">Deadline: *</label>
                <input type="date" id="deadline" th:field="*{deadline}" required>
            </div>

            <div class="form-group">
                <button class="btn-link-primary" type="submit">Opret projekt</button>
                <button class="btn-link-secondary" type="button" onclick="window.history.back()">Annuller</button>
                <small> Felter markeret med * er påkrævet</small>
            </div>

        </form>
    </div>
</main>

</body>
</html>